templates/master_toolbox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml" type="xmlType"/>
  <xs:complexType name="categoryType" mixed="true">
    <xs:sequence>
      <xs:element type="blockType" name="block" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="custom" use="optional"/>
  </xs:complexType>
  <xs:complexType name="xmlType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="sep">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="blockType" name="block" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="custom" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="style"/>
  </xs:complexType>
  <xs:complexType name="mutationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="else" use="optional"/>
        <xs:attribute type="xs:string" name="elseif" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="blockType" mixed="true">
    <xs:sequence>
      <xs:element type="fieldType" name="field" minOccurs="0"/>
      <xs:element type="valueType" name="value" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="mutationType" name="mutation" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="valueType">
    <xs:sequence>
      <xs:element type="blockType" name="block"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="fieldType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>